{% extends "base.html" %}

{% block content %}
<div style="margin-left: 18rem;">
    <div class="card" style="min-height: 10vh; min-height: 150px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card-body p-5 text-center">
                <center>
                    <h1 class="mb-5" style="color:rgb(38, 86, 216); text-shadow: 1px 1px #276ef1;">
                        Coastal Real Estate Risk Calculator</h1>

                </center>
            </div>
        </div>
    </div>
    <div class="card" style="min-height:85vh; background-image: url('static/images/house_welcome_bungalow.jpg'); background-repeat: no-repeat;
background-size: cover;">
    </div>
    <div class="card" style="min-height: 5vh; min-height: 30px; position: sticky; bottom: 0;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="text-center" style="margin-top: 1rem;">
                <center><a href="/dashboard" title="continue">
                        <h3 class="mb-5">Continue to App</h3>
                    </a>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}